@import './custom.less';
@import '~antd/lib/style/themes/default.less';
@import './components/less/index.less';
@import './components/Dynamic/dynamic.less';

@import './pages/problem/_layout.less';
@import './pages/user/_layout.less';
@import './pages/stage/_layout.less';

html,
body,
#root,
.default-layout {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  min-width: 1024px;
}

body {
  margin: 0;
  min-height: 100vh;
}

// --- root
.default-layout {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bf-controlbar .control-item.button.editor-save-btn {
  color: #eee;
  background: #000;
}

.ultra-header {
  // padding: @space-base @space-base*3!important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@box-shadow-layout: 0 2px 4px rgba(0, 0, 0, 0.05);

.generate-pd-mg(20);

.generate-pd-mg(@n, @i: 0) when (@i =< @n) {
  .pd-@{i} {
    padding: (@i*1px);
  }
  .pd-l-@{i} {
    padding-left: (@i*1px);
  }
  .pd-r-@{i} {
    padding-right: (@i*1px);
  }
  .pd-t-@{i} {
    padding-top: (@i*1px);
  }
  .pd-b-@{i} {
    padding-bottom: (@i*1px);
  }
  .mg-@{i} {
    margin: (@i*1px);
  }
  .mg-l-@{i} {
    margin-left: (@i*1px);
  }
  .mg-r-@{i} {
    margin-right: (@i*1px);
  }
  .mg-t-@{i} {
    margin-top: (@i*1px);
  }
  .mg-b-@{i} {
    margin-bottom: (@i*1px);
  }
  .generate-pd-mg(@n, (@i + 1));
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
